body, h1, li, a, span, ul {
	padding: 0;
	margin: 0;
	line-height: 120%;
}

body {
	font-family: sans-serif;
	font-size: 16px;
}

h1 {
	font-weight: normal;
	color: red;
	padding: 0 0 16px 0;
}

h1 strong {
	color: #555;
}

input, select {
	border-radius: 14px 0 0 14px;
	border: 1px solid #cccccc;
	vertical-align: middle;
	font-size: 14px;
	padding: 2px 9px;
	line-height: 20px;
	color: #555555;
	height: 26px;
}

.round {
    border-radius: 14px;
}

form {
	margin-bottom: 0px;
}

.hidden {
    display: none;
}

span img.sortIcon {
	height: 10px;
	width: 7px;
	vertical-align: baseline;
}

.left {
    float: left;
}

.right {
    float: right;
}

.headlabel {
    color: #777;
    font-size: 80%;
    font-weight: lighter;
    padding: 2px 8px 2px 0;
}

.headlabel.active {
    font-weight: bolder;
}

#content {
	padding: 20px;
	margin: auto;
	width: 90%;
}

#logo {
    margin-top: 5px;
}



#searchBox {
	float: right;
	display:block;
	margin: 19px 100px 0 0;
	padding : 0px;
}

#searchButton {
    border-radius: 0 14px 14px 0;
}

.submit {
	border-radius: 14px;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-width: 0px;
    
    background-image: -webkit-linear-gradient(top, #0058B0, #003366);
    background-image: linear-gradient(to bottom, #0058B0, #003366);
	background-repeat: repeat-x;
	
    color: #ffffff;    
    padding: 3px 10px;
    height: 26px;
    margin-left: -11px;
    text-shadow: 1px 1px #000000;
    cursor: pointer;
}

button.submit {
  float: left;
}

ul.tableList li {
	display: block;
	height: 28px;	
	list-style: none;
	white-space: nowrap;
	border-bottom: 1px solid #E6E6E6;
	padding: 3px;
	clear: both
}

li a {
	text-decoration: none;
	color: #555;
}

.icon img, .filename img {
	width: 25px;
	height: 25px;
	vertical-align: -20%;
}

.tableList li span {
	display: block;
	float: left;
	line-height: 30px;
}

li span.repo {
	width: 220px;
	text-align: left;
	float: right;
}

li span.filename {
}

li span.folder {
	font-weight: bold;
}

li span.mtime {
	width: 170px;
	text-align: right;
	float: right;
}

li span.target {
  text-align: right;
  float: right;
}

li span.size {
	width: 90px;
	text-align: right;
	float: right;
}

.tablelist li:HOVER, .tablelist li.virtual:HOVER {
	background-color: #E6E6E6;
}

li.virtual {
	background-color: #F6F6F6;
}

li span.icon {
	width: 25px;
	margin-right: 5px;
}

li span.tags {
    display: inline;
    float: none;
    font-weight: normal;
    font-size: 80%;
    color: #cccccc;
}

li.head span {
	text-align: center;
	color: #AAA;
	font-size: 80%;
}

li.head span.repo  {
	width: 220px;
	text-align: left;
	color: #AAA;
	font-size: 80%;
}

li.footer {
	border-bottom : 0px;
}

li.footer:HOVER {
	background-color : white;
}

li img.rpmInfo, li img.info {
	width: 20px;
	height: 20px;
}

li.head:HOVER {
	background-color: #fff;
}

a.button {
	margin-left: 30px;
	padding: 5px 15px 2px;
	background-color: #ccc;
	border: 1px solid #333;
	color: black;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
}

/** CLUETIP **/

#cluetip {
    padding-bottom: 15px;
}

.tableList.name-value-pairs li {
	display: block;
	float: left;
	clear: none;
	height: auto;
	font-size: 14px;
}

span.label {
	display: inline;
	width: 120px;
	float: left;
	line-height: 30px;
	text-decoration: underline;
	font-weight: bold;
}

span.label.thin {
    width: 65px;
}

span.value {
	width: 235px
}

span.value.long {
	width: 596px;
	white-space: normal;
}

span.value.big {
	width: 710px;
	white-space: normal;
}

#cluetip .cluetip-inner {
    border: 0 solid black;
}

.tableList .ui-switchbutton span {
    line-height: 120%;
    float: none;
}

ul.tablelist li.token-input-token-facebook {
    font-size: 11px;
    display: inline;
}

ul.tablelist li.token-input-token-facebook span {
    display: inline;
    float: none;
    line-height: 100%;
}

ul.tablelist li.token-input-input-token-facebook {
    border: 0 solid black;
    padding: 0;
}

ul.tablelist li.token-input-input-token-facebook:HOVER {
    background-color: white;
}

ul.tablelist li.token-input-input-token-facebook input {
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

span.value .ui-switchbutton.ui-state-active {
    border: 0 solid black;
}

#maxKeepRpmsValue {
    margin-left: 20px;
}

#maxKeepRpmsSlider {
    margin: 9px 0 0 50px;
}

.versionInfo {
    font-size: 75%;
    margin-top: 30px;
    text-align: center;
}

/* CLUETIP END */

/* FILE TABLE BEGIN */
span table.files {
     line-height: 20px;
}

th {
    text-align: left;
    padding: 0 2px;
}

td {
    padding: 0 2px;
}

.aright {
    text-align: right;
}
/* FILE TABLE END */

