<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <meta name="robots" content="NONE,NOARCHIVE" />
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.clueTip.css">
    <title>Index of {{ directory }}</title>
  </head>
  <body>
  	<div id="content">
      <h1>Index of <strong>{{ directory }}</strong></h1>
      <ul>
        <li class="head">
          <span class="icon">&nbsp;</span>
          <span class="filename">Name</span>
          <span class="size">Size</span>
          <span class="mtime">Modified</span> 
        </li>
        {% ifnotequal directory "/" %}
        <li>
      	  <a href="../">
      		<span class="icon"><img src="/static/images/icons/up.gif" /></span>
    	    <span class="filename">../</span>
            <span class="size">&nbsp;</span>
            <span class="mtime">&nbsp;</span>	
          </a>
        </li>
        {% endifnotequal %}
        {% for f in file_list %}
        <li class="{{ f.filename|cut:'/'}}">
          <a href="{{ f.filename|urlencode }}">
            <span class="icon"><img src="/static/images/icons/{{ f.mimetype }}.gif" /></span>
            <span class="filename {% if f.isDir %}folder{% endif %}">
              {{ f.filename }}
              {% ifequal f.mimetype "rpm" %}
              <img class="rpmInfo" title="RPM Info" onclick="return false;" rel="{{ f.filename|urlencode }}/info.html" src="/static/images/icons/info.png" />
              {% endifequal %}
              {% if f.isDir and show_virtuals %}
              <img class="virtualInfo" title="Virtual Repository: {{ f.filename }}" onclick="return false;" rel="{{ f.filename|urlencode }}.html" src="/static/images/icons/info.png" />
              {% endif %}
              <span class="tags">{{ f.tags|join:" " }}</span>
            </span>
            <span class="size">{{ f.size|filesizeformat }}</span>
            <span class="mtime">&nbsp;{{ f.mtime }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
	</div>
    <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.hoverIntent.js"></script>
    <script type="text/javascript" src="/static/js/jquery.clueTip.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
  </body>
</html>