<div>
  <ul>
    <li>
      <label>Name</label><span>{{ rpm.name }}</span>
    </li>
    <li>
      <label>Version</label><span>{{ rpm.version }}</span>
    </li>
    <li>  
      <label>Vendor</label><span>{{ rpm.vendor }}</span>
    </li>
    <li>  
      <label>Release</label><span>{{ rpm.release }}</span>
    </li>
    <li>  
      <label>Build Date</label><span>{{ rpm.build_date }}</span>
    </li>
    <li>  
      <label>Build Host</label><span>{{ rpm.build_host }}</span>
    </li>
    <li>  
      <label>Group</label><span>{{ rpm.group }}</span>
    </li>
    <li>  
      <label>Source RPM</label><span>{{ rpm.source_rpm }}</span>
    </li>
    <li>  
      <label>Size</label><span>{{ rpm.size|filesizeformat }}</span>
    </li>
    <li>  
      <label>License</label><span>{{ rpm.license }}</span>
    </li>
    <li>  
      <label>Packager</label><span class="long">{{ rpm.packager }}</span>
    </li>
    <li>  
      <label>Summary</label><span class="long">{{ rpm.summary }}</span>
    </li>
    <li>
      <label>Description</label>
      <span class="big">{{ rpm.description|linebreaksbr }}</span>
    </li>
    <li>  
      <label>Provides</label>
      <span>
        {% for provide in rpm.provides %}
        {{ provide }}<br />
        {% endfor %}
      </span>
    </li>
    <li>  
      <label>Obsoletes</label>
      <span>
        {% for obsolete in rpm.obsoletes %}
        {{ obsolete }}<br />
        {% endfor %}
      </span>
    </li>
    <li>  
      <label>Requires</label>
      <span>
        {% for requirement in rpm.requires %}
        {{ requirement }}<br />
        {% endfor %}
      </span>
    </li>
    <li>  
      <label>Conflicts</label>
      <span>
        {% for conflict in rpm.conflicts %}
        {{ conflict }}<br />
        {% endfor %}
      </span>
    </li>
    <li>
      <label><a href="#" onclick="$('table.files').toggleClass('hidden'); return false;">Files</a></label>
      <span class="big">
        <table class="files hidden">
          <thead>
            <tr>
              <th>Filename</th>
              <th>Size</th>
              <th>User</th>
              <th>Group</th>
            </tr>
          </thead>
          <tbody>
          {% for file in rpm.files %}
            <tr>
              <td>{{ file.name }} {% if file.dir %}(dir){% endif %} </td>
              <td class="aright">{{ file.size|filesizeformat }}</td>
              <td>{{ file.user }}</td>
              <td>{{ file.group }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </span>
    </li>
  </ul>
</div>