<div>
  <ul>
    <li>
      <label>Tags</label>
      <span>
        {% for tag in tags %}
          <span class="tag">{{ tag }}</span>
        {% endfor %}
      </span>
    </li>
    <li>
      <label>Add Tag:</label>
      <span>
        {% for tag in defaultTags %}
          <span class="tag">{{ tag }}<a href="#" class="addTag" title="Add tag {{ tag }}" onclick="yum.addTag(this, '{{reponame}}', '{{tag}}'); return false;">+</a></span>
        {% endfor %}
      </span>
    </li>
  </ul>
</div>