<div>
  <ul>
    <li>
      <label>Destination</label>
      <span>
        <select id="reposelect" onchange="yum.selectRepo()">
          {% for repo in staticRepos %}
            <option value="static/{{ repo }}" {% ifequal '/static/'|add:repo config.destination %}selected="selected"{% endifequal %}>static/{{ repo }}</option>
          {% endfor %}
        </select>
        <a href="#" onclick="yum.saveRepo('{{ reponame }}'); return false;" class="button">Save</a>
      </span>
    </li>
  </ul>
</div>